<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- ENLAZANDO CON CDN BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/assets/css/docs.css">
	

    <title>Django CRUD Application</title>
</head>
<body>
	

	   <!-- Example Code -->
    
     
	  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Djando App</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ms-auto">

        <ul class="navbar-nav">
          <li class="nav-item {% if request.path == '/' %}bg-secondary text-light{% endif %}>">
            <a href="/" class="nav-link">Home</a>
          </li>
          
          
          {% if user.is_authenticated %}
            <!-- {{ request.path }} -->
            <li class="nav-item {% if request.path == '/tasks/' %}bg-secondary text-light{% endif %}">     <!-- name='tasks' -->
              <a href="{% url 'tasks' %}" class="nav-link" >Tasks Pending</a>
            </li>
            <li class="nav-item {% if request.path == '/tasks_completed/' %}bg-secondary text-light {% endif %}">
              <a href="{% url 'tasks_completed' %}" class="nav-link" >Tasks Completed</a>
            </li>
            <li class="nav-item {% if request.path == '/tasks/create/' %}bg-secondary text-light {% endif %}">
              <a href="{% url 'create_task' %}" class="nav-link" >Tasks Create</a>
            </li>
            <li class="nav-item">
              <!-- usuario con seccion iniciada utenticado -->
              <a href="/logout" class="nav-link" >Logout</a>
            </li>
          {% else %}		
            <li class="nav-item {% if request.path == '/signup/' %}bg-secondary text-light {% endif %}">
              <!-- no existe el usuario, autenticarse o crearse -->
              <a href="/signup/" class="nav-link" >Signup</a>
            </li>
            <li class="nav-item nav-item {% if request.path == '/signin/' %}bg-secondary text-light {% endif %}">
              <!-- existe el usuario, autenticarse o iniciar seccion -->
              <a href="/signin/" class="nav-link" >Sign In</a>
            </li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="nav-item text-light">
              Hola: <strong>{{ request.user.username }}</strong>,  Bienvenid@ 
            </li>	
          {% else %}
            <li class="nav-item text-light">
              Usuario: X, Bienvenido.
            <li class="nav-item">
          {% endif %}
  
        </ul>

        <!-- 
			  <a class="nav-link active" aria-current="page" href="#">Home</a>
			  <a class="nav-link" href="#">Features</a>
			  <a class="nav-link" href="#">Pricing</a>
			  <a class="nav-link disabled">Disabled</a>
        -->
			</div>
		  </div>
		</div>
	  </nav>
	  
	  <!-- End Example Code -->



    <!-- CARGA CONTENIDO DEL LA PAGINA QUE LE LLAME --> 
    {% block content %}
       <!-- CONTENIDO DE OTRA(S) PAGINA(S) QUE LE LLAME --> 
    {% endblock content %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>