{% extends 'base.html' %}

{% block content %}

<main class="container py-5"> <!-- py-5, centra vert-->
<section class="card mb-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  
    <h1 class="display-1 text-center">Django App</h1>
  
    <h3>Juan Carlos Pua</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id consectetur magni possimus architecto at fugit distinctio, repudiandae voluptates enim, voluptatem ea ratione quia tempora consequatur quod maiores cumque assumenda nostrum.
    Fugiat culpa, rerum quasi at nemo, voluptate voluptates minima possimus, et perferendis aperiam porro? Natus quod nulla dolore excepturi repellat ducimus ad tempore, nam, corporis quasi molestiae. Veniam, placeat beatae.
    Ipsam eveniet quidem fuga? At incidunt ullam, magnam voluptate, sequi id culpa nihil magni impedit illo pariatur fugit, nostrum quis libero esse corporis totam repudiandae dignissimos officia dolore doloremque numquam?</p>
  

  <div class="text-center">
    <a href="/signup/"  class="btn btn-secondary">
      SignUp
    </a>
    <a href="/signin/"  class="btn btn-dark">
      SignIn
    </a>
  </div>


</section>
</main>

{% endblock content %}
