{% extends 'base.html' %}

{% block content %}

<main class="container py-5"> <!-- py-5, centra vert-->
<section class="card mb-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  
  <h3 class="display-3 text-center">{% for comp in company %}{{comp.title}}{% endfor %}</h3>
  <br>
  {% for comp in company %}
    <img src="{{ comp.imagen.url }}" style="float:right !important"  width="130" height="130">
    {{comp.description}}
  {% endfor %}

  <div class="text-center">
    <a href="/signup/"  class="btn btn-secondary">
      SignUp
    </a>
    <a href="/signin/"  class="btn btn-dark">
      SignIn
    </a>
  </div>


</section>
</main>


<h1> DIOOOOS </h1>

{% endblock content %}
