{% extends 'base.html' %}

{% block content %}

<main class="container mt-5"> 
  <div class="row">
    <div class="col-md-8 offset-md-2">  <!-- lo use para centar columnas bootstrap  -->
      <form action="/signup/" method="POST" class="card card-body shadow-lg">
        <h1 class="text-center">SignUp</h1>
        <h5>{{ error }}</h5>
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" >Username: </label>
          <input type="text" name="username" id="username" class="formcontrol" placeholder="Write your username" required>
        </div>

        <div class="mb-3">
          <label for="password1" >Password: </label>
          <input type="password" name="password1" id="password1" class="formcontrol" placeholder="Write your Password" required>
        </div>

        <div class="mb-3">
          <label for="password2" >Password confirmation: </label>
          <input type="password" name="password2" id="password2" class="formcontrol" placeholder="Password confirmation" required>
        </div>

        <!-- {{form}} -->
        <button class="btn btn-success">
          SignUp
        </button>
      </form>
    </div>
  </div>
</main>

{% endblock content %}
