{% extends 'base.html' %}

{% block content %}


<main class="container mt-5"> 
  <div class="row">
    <div class="col-md-4 offset-md-4 ">  <!-- lo use para centar columnas bootstrap  -->
      <form action="/signin/" method="POST" class="card card-body shadow-lg">
        <h1 class="text-center">Sign In</h1>
        {% csrf_token %}
        
        <h5>{{ error }}</h5>
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" >Username: </label>
          <input type="text" name="username" id="username" class="formcontrol" placeholder="Write your username">
        </div>
          
        <div class="mb-3">
          <label for="password" >Password: </label>
          <input type="password" name="password" id="password" class="formcontrol" placeholder="Write your Password">
        </div>

        <!-- {{form}} -->
        <button class="btn btn-success">
          SignUp
        </button>
      </form>
    </div>
  </div>
</main>

{% endblock content %}